#header{
    height: 120px;
}

#list_item{
    height: 53px;
    padding-top: 33px;   
}

#list_item *{
    color: black;
    margin: 0px 40px;
}

a:hover{
    color: red;
    text-decoration: underline;
}