#top{
    width: 1000px;
    height: 500px;
    margin: auto;
    margin-top: 30px;
}
#image_container{
    width:750px;
    height:500px;
    background-image: url(../../../assets/chef_about.png);
    background-size: cover;
    float:left;
}
#image_container .content{
    width: 250px;
    height: 250px;
    background-color: green;
}
#image_container p{
    width: 210px;
    height: 210px;
}
.right{
    float: right;
}